<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<customErrors mode="Off">
		</customErrors>
		<compilation targetFramework="4.6.2" debug="true">
			<assemblies>
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
